<header>

  <div class="container-fluid">

    <div class="row">

      <div class="col-xs-12 col-sm-4">
        <a href="/"><img class ="logo" src="../../assets/images/I-Track Logo.png" alt="i-track logo"></a>
      </div>

      <div class="col-xs-12 col-sm-2">
        <h3><a href="/learn-more"> Learn More</a></h3>
      </div>

      <div class="col-xs-12 col-sm-2">
        <h3><a href="/log-in">Resources</a></h3>
      </div>

      <div class="col-xs-12 col-sm-2">
        <h3><a href="/log-in"> Log In</a></h3>
      </div>

      <div class="col-xs-12 col-sm-2">
        <a class="btn btn-primary sign-up-btn" href="/sign-up"> Sign Up</a>
      </div>

    </div>
  </div>
</header>

<nav>
  <ul>
    <li><a href="/learn-more"> Learn More</a></li>
    <li><a href="/log-in">Resources</a></li>
    <li><a href="/log-in"> Log In</a></li>
    <li><a class="btn btn-primary sign-up-btn" href="/sign-up"> Sign Up</a></li>
  </ul>
</nav>



