<footer>

  <div class="container-fluid">

    <div class="row">

      <div class="col-xs-12 col-sm-3">

        <h3>Company</h3>
        <ul>
          <li><a href="/about-us"> About Us</a></li>
          <li><a href="/press">Press</a></li>
          <li><a href="/careers"> Careers</a></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-3">
        <h3>Resources</h3>
      </div>

      <div class="col-xs-12 col-sm-3">
        <h3>Support</h3>
      </div>

      <div class="col-xs-12 col-sm-3">
        <h3>Search</h3>
      </div>

    </div>
  </div>
</footer>
